@import url('https://fonts.googleapis.com/css?family=Raleway');

.center{
    font-family: 'Raleway', sans-serif;
    background-image: url("../img/Background.png");
    background-repeat:no-repeat;
    background-size:  50%;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardes{
    background-color: #fff;
    padding:2rem;
    margin-left:50%;
    border:none;
    box-shadow: none;
}

.cardes > form{
    display: flex;
    flex-direction: column;
}

.cardes h2{
    text-align: center;
    margin-top: 0;
    margin-bottom:10px;
    color: #403c7f;
}
.cardes p{
    color: lightgray;
    margin-bottom: 20px;
}

.form-item{
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    margin-bottom: 2rem;
    height: 30px;
    width: 100%;
}

.form-submit{
    font-family: 'Raleway', sans-serif;
    height: 35px;
    color: #fff;
    background-color: #403c7f;
    border: none;
    letter-spacing: 0.2rem;
    transition: 0.3s opacity ease;
    cursor: pointer;
    width: 100%;
}
.form-submit:hover{
   opacity: 0.6;
}